@model IEnumerable<File_Upload.Models.tbl_data>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Files)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Files)
        </td>*@
        <td>
            @Html.ActionLink("view", "view", new { id=item.Id }) 
            @*@Html.ActionLink("audio", "audio", new { id=item.Id }) |
            @Html.ActionLink("video", "video", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
